* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 200px ;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(175, 240, 240);

    background-image: url("https://img.pikbest.com/origin/10/45/74/29fpIkbEsTzN6.jpg!w700wp");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

/* Component styles */
.container {
    max-width: 1200px;
    margin: 200px auto 100px;
    padding: 20px;
}

.badge {
    background-color: #67b8db;
    border-radius: 5px;
    color: white;
    padding: 3px 8px;
    font-size: 16px;
    font-weight: bold;
    
    vertical-align: middle;
}

pre {}

code {}

.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card.module1 {
    border-top: 4px solid #67b8db;
}

.card.module2 {
    border-top: 4px solid #67dba7;
}

.card.module3 {
    border-top: 4px solid #db6767;
}

.card.module4 {
    border-top: 4px solid #67b8db;
}

.card.module5 {
    border-top: 4px solid #d5db67;
}

.card.module6 {
    border-top: 4px solid #dbb467;
}

.note {}

.note::before {}

code {
    padding: 2px;
    border-radius: 5px;
    background-color: #eeeeee;
}

pre {
    margin: 20px 0;
    background-color: #dedede;
    border-left: 3px solid rgb(96, 161, 189);
}

.note::before {
    content: "❤️ ";
}

.note {
    border-left: 3px solid red;
    color: #808080;
}

/* Group 1 */
.header {
    background-color: rgb(209, 232, 232);
    box-shadow: 5px 5px 15px rgb(167, 167, 167);
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
}

.btn-text-link {
    list-style: none;
    margin-top: 20px;

    display: flex;
    gap: 20px;
}



.btn-text-link li {
    background-color: rgb(149, 204, 240);
    padding: 12px 20px;
    border-radius: 100%;
}

.btn-text-link li:hover {
    background-color: rgb(78, 143, 158);
    cursor: pointer;
}

/* Group 2 */
.position {
    display: flex;
}

.img-small {
    width: 200px;
}

.card.module1:hover .position.m3{
    transition: 6s;
    transform: translateX(920px);
}

.card.module1:hover .position.m2{
    transition: 6s;
    transform: translateX(460px);
}

/* Group 3 */
.img-fixed {
            width: 260px;
            height: 160px;
            object-fit: cover;
            }

/* Group 4 */

.obj-fit-image{
                width: 800px;
                height: 200px;
                border: 1px solid black;
                }
                .obj-fit-image.contain { object-fit: contain; }
                .obj-fit-image.fill { object-fit: fill; }
                .obj-fit-image.cover { object-fit: cover; }

/* Group 5 */
    .YT-img {
        transition: 0.5s ease;
    }

    .YT-img:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }

/* Group 6 */
    .gallery { 
        display: grid; 
        grid-template-columns: 
        repeat(3, 1fr); 
        gap: 12px; 
    }

    .gallery img { 
        height: 120px; 
        object-fit: cover; 
    }

/* Group 7 */
    .img-card6 { 
        max-width:100%; 
        height : auto; 
    } 

/* Group 8 */
figure {
    margin-top: 20px;
    text-align: center;
}

/* Group 9 */
.local-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0ZBdSuf6C3tr3-o_315CCY4Xpw-E-Jj9ExQ&s");
    background-size: cover;
}
/* Group 10 */
.back-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #234b5c;
    font-weight: bold;
    
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
}