* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: rgb(135, 181, 212);
}

.container {
  max-width: 1200px;
  margin: 50px auto;
}

header {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: whitesmoke;
  padding: 50px 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
}

footer h2 {
  text-align: center;
}

footer .back {
  text-align: center;
  margin-top: 10px;
}

.profile {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}

.card {
  text-align: center;

  padding: 30px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.logo:hover {
  transform: scale(1.5);
  transition: 0.3s;
}
